@charset "utf-8";
/* CSS Document */
body{
	margin-left: 400px;
}
section{
	width:705px;
	padding: 0px 8px;
}
section>p{
	background: linear-gradient(#a5b4c4, black, black);
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: white;
	height: 25px;
	padding-top: 5px;
}
fieldset{
	width: 670px;
	height: auto;
}
.dangkytaikhoan{
	width:700px;
	heigth:1000px;
	background-color: #c7e5f2;
	margin: 3px;
	border-radius: 5px;
	text-align: center;
	float: left;
}@charset "utf-8";
/* CSS Document */
body{
	margin-left: 400px;
}
section{
	width:705px;
	padding: 0px 8px;
}
section>p{
	background: linear-gradient(#a5b4c4, black, black);
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: white;
	height: 25px;
	padding-top: 5px;
}
fieldset{
	width: 670px;
	height: auto;
}
.dangkytaikhoan{
	width:700px;
	heigth:1000px;
	background-color: #c7e5f2;
	margin: 3px;
	border-radius: 5px;
	text-align: center;
	float: left;
}@charset "utf-8";
/* CSS Document */
body{
	margin-left: 400px;
}
section{
	width:705px;
	padding: 0px 8px;
}
section>p{
	background: linear-gradient(#a5b4c4, black, black);
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: white;
	height: 25px;
	padding-top: 5px;
}
fieldset{
	width: 670px;
	height: auto;
}
.dangkytaikhoan{
	width:700px;
	heigth:1000px;
	background-color: #c7e5f2;
	margin: 3px;
	border-radius: 5px;
	text-align: center;
	float: left;
}@charset "utf-8";
/* CSS Document */
body{
	margin-left: 400px;
}
section{
	width:705px;
	padding: 0px 8px;
}
section>p{
	background: linear-gradient(#a5b4c4, black, black);
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: white;
	height: 25px;
	padding-top: 5px;
}
fieldset{
	width: 670px;
	height: auto;
}
.dangkytaikhoan{
	width:700px;
	heigth:1000px;
	background-color: #c7e5f2;
	margin: 3px;
	border-radius: 5px;
	text-align: center;
	float: left;
}@charset "utf-8";
/* CSS Document */
body{
	margin-left: 400px;
}
section{
	width:705px;
	padding: 0px 8px;
}
section>p{
	background: linear-gradient(#a5b4c4, black, black);
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: white;
	height: 25px;
	padding-top: 5px;
}
fieldset{
	width: 670px;
	height: auto;
}
.dangkytaikhoan{
	width:700px;
	heigth:1000px;
	background-color: #c7e5f2;
	margin: 3px;
	border-radius: 5px;
	text-align: center;
	float: left;
}@charset "utf-8";
/* CSS Document */
body{
	width: 700px;
	margin-left: 200px;
	text-align: center;
}
section{
	width:705px;
	padding: 0px 8px;
}
section>p{
	background: linear-gradient(#a5b4c4, black, black);
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: white;
	height: 25px;
	padding-top: 5px;
}
fieldset{
	width: 670px;
	height: auto;
}
.dangkytaikhoan{
	width:700px;
	heigth:1000px;
	background-color: #c7e5f2;
	margin: 3px;
	border-radius: 5px;
	text-align: center;
	float: left;
}
